* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/23583045.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.8;
    transition: .5s;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.my {
    margin: 30px 0;
}

.color1 {
    color: blue;
}

#mondai span {
    color: red;
}

.input {
    width: 100%;
    font-size: 20px;
    color: red;
    padding: 10px;
}

a {
    color: blue;
}

blockquote {
    margin: 30px 0;

    position: relative;
    padding: 30px 15px 8px 15px;
    box-sizing: border-box;
    font-style: italic;
    background: #eee;
    color: #141414;
    border-radius: 5px;
}

blockquote:before {
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 15px;
    content: "\f10d";
    font-family: FontAwesome;
    color: #ccc;
    font-size: 28px;
    line-height: 1;
    font-weight: 900;
}

blockquote p {
    padding: 0;
    margin: 20px 0;
    line-height: 1.7;
    font-size: 24pt;
}